*{margin:0; padding: 0; box-sizing: border-box;}
*::before, *::after{box-sizing: border-box;}

html{
    width: 100%;
    height: 100%;
}
body{
    height: 100%;
    width: 100%;
    background: #EAECF1;
}

div.wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 20px 3px #CFD0D5;
}

div.wrapper > .functionArea{
    width: 400px;
    background: #FFFFFF;
}

div.functionArea > span{
    font-size: 18px;
    color: black;
    font-family: monospace;
}

div.functionArea > .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

div.content > img.signLogo{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin-top: 55px;
    margin-bottom: 55px;
    border: none;
}

div.content > div.signUp{
    text-align: center;
}

div.content > div.email{
    text-align: center;
}

div.Slogen{
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 20px;
}

form{
     height: 180px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
}

div.content > div.login{
    text-align: center;
}

/* input[type='text']{
    border:0;
    border-bottom:1px solid black;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 4px;
} */

input:-webkit-autofill{
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

input[type='submit']{
    box-shadow: none;
    padding: 4px 0;
    font-size: 16px;
    border-width: 0;
    border-radius: 5px;
    background: #D26585;
    color: #FFFCFB;
    width: 120px;
    text-align:center;
    text-decoration:none;
    font-family: Arial;
    margin-bottom: 30px;
}

input[type='submit']:focus{
    outline: 0;
}


div.wrapper > .select-content{
    width: 450px;
    background: url("../../img/2233background2.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

div.wrapper > .select-content::before{
    content: "";
    background: rgba(0,0,0,0.15);
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

div.divider{
    width: 1px;
    background-color: black;
}

.select-content > .Slogen{
    margin-top: 100px;
    margin-bottom: 60px;
}
